@import url('https://fonts.cdnfonts.com/css/kitchen-police');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fs-xl: clamp(4.5rem, 8vw + 1rem, 12rem);
    --fs-600: 3.5rem;
    --fs-500: clamp(1.1rem, 1.3vw, 1.4rem);
    --fs-400: 1rem;
}

body {
    color:#edf0f1;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #080808;
}

header {
    background-color: black;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding:20px 10%;  
    position: fixed; 
    width:100%;
    z-index: 1000000;
}


.logo_link {
    cursor:pointer;
    margin:auto;
}
.logo {
    width:150px;
    position: absolute;
    top:53px;
    left:50%;
    transform: translate(-50%, -50%);
    
}

li, a, button {
    margin:0 3px;
    font-weight:500;
    font-size: var(--fs-400);
    text-decoration: none;
    color:#edf0f1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding:0px 20px;
}

.nav__links li a {
    transition: all 0.2s ease 0s;
}

.nav__links li a:hover {
    color:blue;
}

.nav__links .active {
    text-underline-offset: 10px;
    text-decoration: underline 4px blue;
}
.nav__links .active:hover {
    color:white;
    cursor:default;
}



button {
    background-color: black;
    padding:20px 45px;
    background-color:none;
    border:2px solid blue;
    transition: all 0.2s ease 0s;
    cursor:pointer;
}

button:hover {
    color:rgb(214, 214, 214);
    background-color:rgb(0, 0, 186);
    border:2px solid rgb(0, 0, 186);
}

.button_active {
    background-color:blue;
    padding:20px 48px;
    cursor:default;
    pointer-events: none;
}







.start {
    width:80%;
    height:80vh;
    margin:auto;
    padding-top:16vh;
}

.section_one {
    border-radius:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 3, 195);
    height:80vh;
    margin:auto;
    
}

.section_one h1, h2 {
    background:none;
}
.section_one h1 {
    margin-top:12vh;
   font-family: 'Kitchen police', sans-serif;
   text-shadow: 10px 10px 0 rgb(8, 0, 113);
   font-size:var(--fs-xl);
   text-align: center;
   padding:0;
}

 .section_one .line_break {
    width:50vh;
    height:0.1vh;
    margin:-5px 0 20px 0;
    background-color: rgb(255, 255, 255);
}

.section_one  h2 {
    letter-spacing: 2px;
    font-size:var(--fs-500);
    text-transform:uppercase;
    text-align: center;
    margin-top:0vh;
    font-weight: 400;
 }


 .section_two {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height:80vh;
}

.section_two .left__side {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left:20vh;
    width:50vh;
}
.section_two .left__side h2 {
    font-family: 'Kitchen police', sans-serif;
    font-size:var(--fs-600);
    text-transform:uppercase;
    text-align: left;
    margin-top:20px;
    font-weight: 400;
}
.section_two .line_break {
    width:5vh;
    height:1.8vh;
    margin:18px 0;
    background-color: rgb(0, 3, 195);
}

.section_two .left__side p {
    background: none;
    font-size:var(--fs-400);
    text-align: left;
    margin-top:0px;
    font-weight: 100;
    color:rgb(215, 215, 215);
}


.section_two .right__side {
    justify-content: center;
    width:70vh;
    height:70vh;
    border:2px solid white;
}


.section_three  {
    position: relative;
    margin-top:4vh;
    margin-bottom:6vh;
    
}
.section_three h2 {
    text-align: center;
    align-items: center;
    margin:0;
    position: relative;
    top:6vh;

}


.section_three .colors {
    background:none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin:auto;
    width:60%;
    height:40vh;
    position: relative;
}




.section_three .colors .rectangle__one, .rectangle__two,
.rectangle__three, .rectangle__four {
    width:15vh;
    height:15vh;
    border-radius: 10px;
}

.section_three .rectangle__one {
    background-color: white;
}
.section_three .rectangle__two {
    background-color: rgb(0, 3, 195);
}
.section_three.rectangle__three {
    border:2px solid white;
}
.section_three .rectangle__four {
    background-color: blue;
}

.section_four {
    margin-top:0vh;
    background-color: rgb(0, 3, 195);
    height:130vh;
    position:absolute;
    left:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_four h2 {
    margin-top:-10vh;
    text-shadow: 6px 6px 0 rgb(8, 0, 113);
    font-family: 'Kitchen police', sans-serif;
    font-size:var(--fs-600);
    text-transform:uppercase;
    text-align: center;
    font-weight: 400;
}
.section_four p{
    background: none;
    margin-top:3vh;
    text-shadow: 5px 5px 0 rgb(8, 0, 113);
    font-size:var(--fs-400);
    text-align: center;
    font-weight: 400;
}

.section_four .container {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:baseline;
    position: relative;
    gap:10vh;
    top:10vh;
}
.section_four .container .left__side, .right__side{
    width:75vh;
    height:75vh;
    background-color: black;
}

.section_five {
    margin-top:180vh;
    background:none;
    height:50vh;
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
}

.section_five h2 {
    margin-top:5vh;
    text-shadow: 6px 6px 0 rgb(8, 0, 113);
    font-family: 'Kitchen police', sans-serif;
    font-size:var(--fs-500);
    text-transform:uppercase;
    text-align: center;
    font-weight: 400;
}

.section_five .footer__left, .footer__middle, .footer__right {
    display:flex;
    flex-direction: column;
    gap:10px;
}
.section_five .footer__left h2 {
    margin-left:-120px;
    margin-top:-100px;
    position: absolute;
    font-size:3rem;
}

.section_five .footer__left h3, .footer__middle h3, .footer__right h3   {
    margin-left:-15px;
    font-size:1.4rem;
}


.section_five .footer__left ul li, .footer__middle ul li, .footer__right ul li  {
    margin:10px 0 10px 0;
    color:rgb(206, 206, 206);
    font-size:0.9rem;
}

.footer__middle p {
    color:rgb(206, 206, 206);
    font-size:0.9rem;
}



.section_five .footer__right ul li a  {
    margin:10px 0 10px 0;
    color:rgb(206, 206, 206);
    font-size:0.9rem;
}
.section_five .footer__right ul li a:hover  {
    color:rgb(172, 172, 172);
}



.lankar {
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
}

.lankar .lankar_flex  h1 {
    text-align: center;
    margin-bottom:3vh;
    text-shadow: 6px 6px 0 rgb(8, 0, 113);
    font-family: 'Kitchen police', sans-serif;
    font-size:var(--fs-600);
    text-transform:uppercase;
    text-align: center;
    font-weight: 400;

}

.lankar_flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vh;
}

.lankar_flex a {
   background-color:blue;
   box-shadow: 3px 3px 0 rgb(8, 0, 113);
   padding:17px 65px;
   border-radius: 15px;
   width:50vh;
   font-size: 17px;
   text-align: center;
   cursor:pointer;
}
.lankar_flex a:hover {
    color:rgb(192, 192, 192);
    background-color:rgb(0, 0, 181);
    box-shadow: 3px 3px 0 rgb(8, 0, 113);
    cursor:pointer;
 }